@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family:'Inter', sans-serif ;
    margin: 0;
    color:rgb(78, 78, 78);
    
   
}


h1{
    background-image:url('Material_Entregable1/img/header.jpg');
    background-size:cover;
    background-position:center;
    height: 300px;
    line-height: 300px;
    margin: 0;
    color: white;
    font-weight: 500;
    padding-left: 30px;
    
   
    
    
}

section{
    margin-top: 0;
    margin-bottom: 0;
    
    
}

.menu{
    background-color: rgb(97, 69, 140);
    width: 100%;
    color:white;
    cursor: pointer;
    /* padding-left: 25px; */
    
}
ul{
    display:inline-flex;
    padding-left: 0;
    padding-block: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    

}


.li_menu{

    cursor: pointer;
    padding-block: 15px;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 25px;
    transition: 0.5s ease;
    border-radius: 10px;
    
 
}
.li_menu:hover{
    background-color: rgb(243, 243, 243);
    color: rgb(97, 69, 140);
    border-radius: 10px;
    
}

h2{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight:400;
    /* background-color: blue; */
    width: 100%;
    font-size: 40px;;
    margin-top: 0;
    margin-bottom: 0;
    padding-block: 40px;
    

}

h3{
    /* background-color: rgb(38, 181, 119); */
    text-align: center;
    font-weight: 300;
    font-size: medium;
    padding-left: 25%;
    padding-right: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 50px;

    
}

h3{
    font-size: medium;

}
h4{
    font-size: 25px;
    font-weight:normal;
    color: rgb(79, 79, 79);

}

p{
    color: rgb(114, 113, 113);
    font-weight:200;
}


.p_who_we_are{
    
    /* width: 80%; */
    /* background-color: blueviolet; */
    text-align: justify;
    
    
}

/* WHO WE ARE */

.who_we_are{
    background-color: #F2F2F2;
    padding-inline: 30px;
    padding-bottom: 30px;
    
    
    
}

.grid_who_we_are{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
    box-sizing: border-box;
    margin-inline: 10px;
    
  }

.grid_item_1{
   
   grid-column: 1 / 2;
   grid-row: 1 / 3;
   padding-inline: 20px;
}
.grid_item_2{
   
   grid-column: 2 / 3;
   grid-row: 1 / 2;
   padding-inline: 20px;
}
.grid_item_3{
   
   grid-column: 2 / 3;
   grid-row: 2 / 3;
   padding-inline: 20px;
}

.img_who_we_are{
    float: left;
    margin-right: 10px;

}
.aside_ad{
  display: flex;
  justify-content: center;
  width: 100%;
  
}
.img_ad{
  float: right;
  
  
}
/* PORTFOLIO */

.portfolio {
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  
  .portfolio h3 {
    margin-bottom: 10px;
  }
  
  .img_portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    gap: 0.3rem;
  }

  .img_rotate:hover {
    transform: rotate(-10deg);
    transition: all 1s ease-in-out;
  }
  
  .img_circle {
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
  
  .img_circle:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-radius: 50%;
  }
  
  
/* OUR SERVICES */
    


.our_services {
    padding-inline: 30px;
    padding-bottom: 10px;
    text-align: justify;
    padding-bottom: 120px;
}

.art_our_services div:first-child {
    border: 5px solid rgb(178, 178, 178);
    border-radius: 50% 50%;
    transition: border-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    padding: 1rem;
}

.art_our_services div:first-child:hover {
    border: 5px solid #61458C;
    background-color: #61458C;
    border-radius: 50% 50%;
    padding: 1rem;
}

.art_our_services div:first-child svg {
    transition: fill 0.5s ease-in-out;
}

.art_our_services div:first-child:hover svg {
    fill: #ffffff;
}


.grid_our_services {
    padding-top: 1.5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    
    margin-inline: 10px;
    grid-gap: 2rem;
   
}

body .h3_our_services {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    font-size: 25px;
    font-weight:normal;
    color: rgb(79, 79, 79);
}


.art_our_services {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1.2rem;
}



.inside_our_services {
    display: flex;
    flex-direction: column;
}

.img_our_services {

    float: left;

}

.p_our_services{
    font-size: 12px;
    line-height: 25px;
}

/* PORTFOLIO */
.portfolio{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    

}
.portfolio h3 {
    margin-bottom: 10px;
  }

.img_portfolio{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    gap: 0.3rem;
    
    
}
.content_porfolio{
    margin-right: 0;
    background-color: brown;
}
.location{
    
}

.email_us{
    background-color: rgb(97, 69, 140
    );
    
    color: white;
}

.article_email_us{
    display: flex;
    background-color: rgb(83, 34, 130);
    
    
}
form{
    
    background-color: aqua;
    margin: 0 auto;
}
footer{
    background-color: rgb(97, 69, 140
    );
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
}

footer p{
    padding-left: 70%;
    margin-bottom: 0;
    margin-top: 0;
    padding-block: 30px;
    color: white;
}